@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*==========================================================*/
/*	responsive
-----------------------------------------------------------*/
/*	css
-----------------------------------------------------------*/
/*==========================================================*/
html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
  font: inherit;
}

del, ins {
  text-decoration: none;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

strong {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Avenir Next;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subtext *, canvas, .is_dragging *, .js-draw-text, .subtitles, .subtitles span, .to-scroll, .menu-li .in, .menu-li a, .single-sub-title span, .work-sub-title span, .link, .view-more a, .work-title a, .unselectable {
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-fb:before {
  content: "\66";
}

.i-tw:before {
  content: "\74";
}

.i-inst:before {
  content: "\69";
}

.i {
  font-family: 'i';
}

.is_waiting body {
  overflow: hidden !important;
}

article {
  display: block;
}

video, img, canvas {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

/*	input
-----------------------------------------------------------*/
input[type=text], input[type=email] {
  width: 450px;
  height: 50px;
  border: 1px solid #999999;
  font-size: 15px;
  color: #000;
  padding: 0px 10px;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 380px) {
  input[type=text], input[type=email] {
    width: 100%;
    height: 42px;
    border: 1px solid #999999;
    font-size: 14px;
    color: #000;
    padding: 0px 10px;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/* ===== select ===== */
label.select_cover {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 380px) {
  label.select_cover {
    width: 100%;
  }
}

label.select_cover:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 17px;
  right: 5px;
  display: inline-block;
  margin-right: 10px;
  border: 5px solid transparent;
  border-color: black black transparent transparent;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media only screen and (max-width: 380px) {
  label.select_cover:before {
    top: 12px;
  }
}

textarea {
  width: 300px;
  height: auto;
  border: 1px solid #999999;
  font-size: 15px;
  color: #000;
  padding: 15px 10px;
}

@media only screen and (max-width: 768px) {
  textarea {
    width: 100%;
    height: auto;
    border: 1px solid #999999;
    font-size: 14px;
    color: #000;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 1px;
    -webkit-appearance: none;
    line-height: 1.4;
  }
}

select {
  position: relative;
  z-index: 1;
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  width: 450px;
  height: 50px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 1px;
  background-color: white;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

@media only screen and (max-width: 380px) {
  select {
    width: 100%;
    height: 42px;
    padding: 0 10px;
    font-size: 14px;
  }
}

select::-ms-expand {
  display: none;
}

/*  img
---------------------------------------------------------------*/
img {
  border: none;
}

/*  cf
---------------------------------------------------------------*/
/* .〇〇:after {
    content: '';
    display: table;
    clear: both;
} */
/*  align
---------------------------------------------------------------*/
.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

/*  ul
---------------------------------------------------------------*/
li {
  list-style-type: none;
}

/*  font
---------------------------------------------------------------*/
:root {
  --max-size:1.66rem;
  --base-size:1.4rem;
  --slide-tb:120vw;
  --slide-mb:150vw;
  --land-mb:80vw;
}

.font {
  font-size: calc(var(--base-size) * 1.9);
}

.busInfo {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 769px) {
  .busInfo > div:nth-of-type(2) {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .busInfo > div:nth-of-type(2) {
    text-align: left;
  }
}

.sectionTitle {
  text-align: center;
  font-weight: bold;
  padding: 2rem 0;
  font-size: 3rem;
}

.flexWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.routeInfo {
  display: block;
}

@media only screen and (min-width: 769px) {
  .routeInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.routeInfo .sectionTitle {
  font-size: 2rem;
}

.routeInfo .flexWrap {
  width: 48%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 0 2rem;
}

@media only screen and (max-width: 768px) {
  .routeInfo .flexWrap {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.routeInfo .flexWrap > div, .routeInfo .flexWrap > ul {
  margin-top: 1rem;
}

.routeInfo .map {
  height: calc(20rem);
  margin: 0 auto;
}

.routeInfo .map img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.routeInfo .qrcode {
  font-weight: bold;
  text-align: center;
}

.routeInfo .applyButton {
  text-align: center;
}

.routeInfo .applyButton a {
  position: relative;
  display: block;
  background: #4093BD;
  color: #fff;
  padding: 1.2rem 3.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 3px;
}

.routeInfo .applyButton a:hover {
  opacity: 0.6;
}

.receptionInfo {
  text-align: center;
  background: #F7F9FC;
}

.receptionInfo > .flexWrap {
  margin: 0 auto;
  width: calc(100rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .receptionInfo > .flexWrap {
    width: 100%;
    display: block;
  }
}

.receptionInfo .stepInfo {
  width: calc(30rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 0 2rem;
}

@media only screen and (max-width: 768px) {
  .receptionInfo .stepInfo {
    width: 100%;
    margin-top: 2rem;
  }
}

.receptionInfo .stepInfo > div {
  margin-top: 2rem;
}

.receptionInfo .stepInfo > div:nth-of-type(1) span {
  background: #4093BD;
  border-radius: 14px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 2rem;
}

.receptionInfo .stepInfo > div:nth-of-type(2) {
  height: 100%;
}

.receptionInfo .stepInfo > div:nth-of-type(2) > div:nth-of-type(1) {
  margin-bottom: 2rem;
  font-size: 120%;
  font-weight: bold;
}

.receptionInfo .stepInfo > div:nth-of-type(3) img {
  bottom: 0;
  width: 50%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.appInfo {
  width: calc(40rem);
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .appInfo {
    width: 100%;
  }
}

.appInfo > :not(:first-child) {
  margin-bottom: 2rem;
}

.appInfo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.appInfo .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appInfo .apps div {
  width: calc(50% - 1rem);
}

#wrap {
  position: relative;
  z-index: 91;
  background: #F7F9FC;
  padding: 0 5%;
}

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.inner1100 {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.inner1200 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.inner1400 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.innerDX1200 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6rem 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media only screen and (max-width: 768px) {
  .innerDX1200 {
    padding: 0 2rem;
  }
}

.innerDX1400 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 6rem 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media only screen and (max-width: 768px) {
  .innerDX1400 {
    padding: 0 2rem;
  }
}

.innerDX {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 6rem 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media only screen and (max-width: 768px) {
  .innerDX {
    padding: 0 2rem;
  }
}

.background {
  width: 100%;
  position: relative;
  margin: 0 auto 0rem;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .background {
    min-height: auto;
  }
}

.background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-main-button {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
  z-index: 102;
  background: #4093BD;
}

.menu-main-button #menuWrap {
  position: relative;
  width: 44px;
  display: table;
  padding: 2rem;
  top: 0px;
  right: 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  -webkit-transition: opacity 0.6s 0.2s,-webkit-transform 0.6s 0.2s;
  transition: opacity 0.6s 0.2s,-webkit-transform 0.6s 0.2s;
  transition: opacity 0.6s 0.2s,transform 0.6s 0.2s;
  transition: opacity 0.6s 0.2s,transform 0.6s 0.2s,-webkit-transform 0.6s 0.2s;
}

.menu-main-button #menuWrap.visible {
  opacity: 1 !important;
  -webkit-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
}

@media only screen and (max-width: 768px) {
  .menu-main-button #menuWrap {
    width: 30px;
    right: 0px;
    top: 0px;
  }
}

.menu-main-button #menuWrap .menuBtn .menu {
  position: relative;
  z-index: 2;
  color: #000;
  font-size: 20px;
  margin-bottom: 4px;
  letter-spacing: 0.1em;
  font-family: "DIN_CONDENSED_BOLD", 'NotoSerifJP', sans-serif;
  -webkit-transition: color 0.6s 0.2s;
  transition: color 0.6s 0.2s;
}

@media only screen and (max-width: 768px) {
  .menu-main-button #menuWrap .menuBtn .menu {
    font-size: 14px;
    margin-bottom: 0px;
  }
}

.menu-main-button #menuWrap .menuBtn .menu-trigger {
  position: relative;
  z-index: 2;
  width: 40px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .menu-main-button #menuWrap .menuBtn .menu-trigger {
    width: 30px;
    height: 20px;
  }
}

.menu-main-button #menuWrap .menuBtn .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
}

.menu-main-button #menuWrap .menuBtn .menu-trigger span:nth-of-type(1) {
  top: 0;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0s;
  transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0s;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0s;
}

.menu-main-button #menuWrap .menuBtn .menu-trigger span:nth-of-type(2) {
  top: 11px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.1s;
  transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.1s;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.1s;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.1s, -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.1s;
}

@media only screen and (max-width: 768px) {
  .menu-main-button #menuWrap .menuBtn .menu-trigger span:nth-of-type(2) {
    top: 9px;
  }
}

.menu-main-button #menuWrap .menuBtn .menu-trigger span:nth-of-type(3) {
  bottom: 0px;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.2s;
  transition: -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.2s;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.2s;
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.2s, -webkit-transform 0.3s cubic-bezier(0.77, 0, 0.355, 1) 0.2s;
}

.menu-main-button #menuWrap .menuBtn .menu-trigger span:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  -webkit-transition: background 0.6s ease-in-out 0.2s;
  transition: background 0.6s ease-in-out 0.2s;
}

.menu-main-button #menuWrap:hover span:nth-of-type(1):before {
  -webkit-animation: menu_hover_animation 0.4s cubic-bezier(0.645, 0.045, 0.175, 1) 0s;
          animation: menu_hover_animation 0.4s cubic-bezier(0.645, 0.045, 0.175, 1) 0s;
}

.menu-main-button #menuWrap:hover span:nth-of-type(2):before {
  -webkit-animation: menu_hover_animation 0.4s cubic-bezier(0.645, 0.045, 0.175, 1) 0.1s;
          animation: menu_hover_animation 0.4s cubic-bezier(0.645, 0.045, 0.175, 1) 0.1s;
}

.menu-main-button #menuWrap:hover span:nth-of-type(3):before {
  -webkit-animation: menu_hover_animation 0.4s cubic-bezier(0.645, 0.045, 0.175, 1) 0.2s;
          animation: menu_hover_animation 0.4s cubic-bezier(0.645, 0.045, 0.175, 1) 0.2s;
}

@-webkit-keyframes menu_hover_animation {
  0% {
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: none;
            transform: none;
  }
  45% {
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  55% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes menu_hover_animation {
  0% {
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: none;
            transform: none;
  }
  45% {
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  55% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: none;
            transform: none;
  }
}

.menu-main-button #menuWrap:hover:before {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media only screen and (max-width: 768px) {
  .menu-main-button #menuWrap:hover:before {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu_on .menuBtn .menu-trigger span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  .menu_on .menuBtn .menu-trigger span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
}

.menu_on .menuBtn .menu-trigger span:nth-of-type(2) {
  opacity: 0;
}

.menu_on .menuBtn .menu-trigger span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

@media only screen and (max-width: 768px) {
  .menu_on .menuBtn .menu-trigger span:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
  }
}

.menu_on .menu-main-button #menuWrap .menuBtn .menu {
  color: #21837d;
}

.menu_on .menu-main-button #menuWrap .menuBtn .menu-trigger span:before {
  background-color: #21837d;
}

#menuBody {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 101;
  display: none;
}

#menuBody #pagemenu_bg {
  background: #fff;
  opacity: .9;
  width: calc(10.5rem - 0px);
  height: calc(100vh - 0px);
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translateY(0%) translateX(-100%);
          transform: translateY(0%) translateX(-100%);
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  #menuBody #pagemenu_bg {
    width: calc(100% - 0px) !important;
    -webkit-transform: translateY(0%) translateX(0%) !important;
            transform: translateY(0%) translateX(0%) !important;
    opacity: 0;
  }
}

#menuBody #pagemenu_bg_opacity {
  background: #fff;
  opacity: .0;
  width: 100%;
  height: calc(100vh - 0px);
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0 auto;
  -webkit-transition: all 0.85s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  transition: all 0.85s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

@media only screen and (max-width: 768px) {
  #menuBody #pagemenu_bg_opacity {
    width: calc(100% - 0px) !important;
    -webkit-transform: translateY(0%) translateX(0%) !important;
            transform: translateY(0%) translateX(0%) !important;
    opacity: 0;
  }
}

#menuBody nav#menuCircle {
  position: relative;
  z-index: 11;
  width: 10.5rem;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle {
    right: 0%;
    opacity: 0;
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
    -webkit-transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    transition: all 0.65s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  }
  #menuBody nav#menuCircle .spXX .menuDesign > a:before {
    display: none;
    content: "";
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    background: #fcd1df;
    border-radius: 50%;
  }
  #menuBody nav#menuCircle .spXX .iconCircle {
    position: relative;
  }
  #menuBody nav#menuCircle .spXX .iconCircle .next {
    content: "";
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    background: #fcd1df;
    border-radius: 50%;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
  }
  #menuBody nav#menuCircle .spXX .iconCircle .next.add {
    background: #ff85af;
  }
  #menuBody nav#menuCircle .spXX .iconCircle:before {
    content: "";
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    margin: auto;
    width: 10px;
    height: 10px;
    background: #fcd1df;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

#menuBody nav#menuCircle .spMenuHeader {
  position: relative;
}

#menuBody nav#menuCircle .spMenuHeader .inHead {
  position: relative;
  padding: 1.5rem;
}

#menuBody nav#menuCircle .spMenuHeader .inHead .spLogo a {
  display: block;
  width: 6rem;
  margin: 0 auto;
}

#menuBody nav#menuCircle .spMenuHeader .inHead .birds {
  position: absolute;
  left: 23rem;
  bottom: 2rem;
  width: 5.5rem;
}

#menuBody nav#menuCircle .spMenuHeader .inHead .cloud {
  position: absolute;
  left: 31rem;
  top: 0rem;
  width: 8rem;
}

#menuBody nav#menuCircle .menu_content {
  z-index: 3;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 1.8rem;
  -webkit-transform: translate3d(0%, -50%, 0);
          transform: translate3d(0%, -50%, 0);
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle .menu_content {
    width: auto;
    height: 100vh;
    display: block;
    position: relative;
    top: 0%;
    left: 0rem;
    -webkit-transform: translate3d(0%, 0%, 0);
            transform: translate3d(0%, 0%, 0);
    margin: 0 auto;
    padding: 0px 0 60px 0%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

#menuBody nav#menuCircle .menu_content .menu_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle .menu_content .menu_inner {
    display: block;
    background: #fff;
    padding: 0 3rem;
    padding-bottom: 25rem;
  }
}

#menuBody nav#menuCircle ul.menu_list li {
  position: relative;
  overflow: hidden;
  margin-bottom: 2.0vh;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li {
    margin-bottom: 0px;
  }
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign.menuIcon {
  position: relative;
  overflow: hidden;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn {
  position: relative;
  color: #404040;
  -webkit-transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dt, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dt {
  margin-right: .15rem;
  color: #404040;
  font-size: .34rem;
  letter-spacing: 0.04em;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dt, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dt {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.00em;
    line-height: 1;
    margin-right: 1.5rem;
  }
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd {
  width: 12rem;
  font-size: .14rem;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd {
    font-size: 1.2rem;
    letter-spacing: 0.00em;
  }
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd .icon, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd .icon {
  position: relative;
  z-index: 2;
  height: 5rem;
  display: block;
  margin: 0 auto;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd .icon img, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd .icon img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd .icon img:nth-child(1), #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd .icon img:nth-child(1) {
  z-index: 2;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd .icon._01, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd .icon._01 {
  width: 4rem;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd .icon._02, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd .icon._02 {
  width: 7rem;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd .icon._03, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd .icon._03 {
  width: 7rem;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign a dl dd .icon._04, #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn dl dd .icon._04 {
  width: 7rem;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn {
    width: 100%;
    border-bottom: 1px solid #bddad8;
  }
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn:before {
  display: none;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail {
  margin-top: 2.0vh;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail {
    display: none;
    margin-top: 0;
  }
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail li:last-child a {
    margin-left: 3rem;
    padding: 8px 3rem 16px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail a {
    display: block;
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail a:before {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail a:hover {
    color: #ff85af;
  }
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail a:hover:before {
    color: #ff85af !important;
  }
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail a span {
  font-size: .14rem;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail a span {
    font-size: 2.4rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail .menuIcon a:before {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    left: 0rem;
    width: 1rem;
    height: 1px;
    background: #7d7d7d;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    /* transform: translate3d(0, -50%, 0); */
  }
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.menu_list_detail .menuIcon a:hover:before {
  background: #ff85af;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.subMenu {
  margin-top: 2.0vh;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.subMenu {
    margin-top: 0vh;
    display: block !important;
  }
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.subMenu li a span {
  position: relative;
  padding-left: 20px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #7d7d7d;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.subMenu li a span {
    padding-left: 0rem;
  }
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.subMenu li a:hover span {
  color: #ff85af;
}

#menuBody nav#menuCircle ul.menu_list li .menuDesign .sub_btn ul.subMenu li:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle ul.menu_list li .noTab {
    padding: 16px 7vw 16px;
  }
  #menuBody nav#menuCircle ul.menu_list li .noTabLink a {
    display: block;
    padding: 1.8rem 7vw 1.8rem 0vw;
    border-bottom: 1px solid #bddad8;
  }
  #menuBody nav#menuCircle ul.menu_list li .noTabLink a.lastX {
    border-bottom: none;
  }
  #menuBody nav#menuCircle ul.menu_list li .onTab {
    padding: 2.8rem 7vw 2.8rem 0vw;
  }
  #menuBody nav#menuCircle ul.menu_list li .onTab:before, #menuBody nav#menuCircle ul.menu_list li .onTab:after {
    content: '';
    border: 1.6px solid transparent;
    display: block;
    width: 1rem;
    height: 1rem;
    margin: auto;
    position: absolute;
    top: 4.8rem;
    -webkit-transform: rotate(45deg) translate3d(0px, -4px, 0);
    transform: rotate(45deg) translate3d(0px, -4px, 0);
    border-top: none;
    border-left: none;
    right: 6vw;
    border-color: #000;
  }
}

#menuBody nav#menuCircle .hidden {
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle .hidden {
    width: 100%;
  }
}

#menuBody nav#menuCircle .inMotion {
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle .inMotion {
    -webkit-transform: translate3d(0, 0px, 0) !important;
            transform: translate3d(0, 0px, 0) !important;
  }
}

#menuBody nav#menuCircle .leftMenu {
  margin: 0 .2rem;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle .leftMenu {
    margin: 0 0vw 0 0;
  }
}

#menuBody nav#menuCircle .leftMenu .menu_list li {
  padding-right: 25px;
}

@media only screen and (max-width: 768px) {
  #menuBody nav#menuCircle .leftMenu .menu_list li {
    padding-right: 0px;
  }
  #menuBody nav#menuCircle .leftMenu .menu_list li.last {
    margin-bottom: 0;
  }
}

#menuBody nav#menuCircle .rightMenu {
  margin: 0 .2rem;
}

/*=========================================================*/
/*	header*/
/*=========================================================*/
header .headerInner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headerInner #headLogo {
  -ms-flex-preferred-size: 6rem;
      flex-basis: 6rem;
}

header .headerInner #headLogo .h1 a {
  display: block;
  width: 6rem;
}

header .headerInner nav {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  header .headerInner nav {
    display: none;
  }
}

header .headerInner nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .headerInner nav ul li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  margin-left: 3rem;
}

header .headerInner nav ul li a {
  display: block;
  font-size: 16px;
}

header .headerInner nav ul li a .iconTop {
  width: 100%;
  position: relative;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 768px) {
  header .headerInner nav ul li a .iconTop {
    width: 80px;
    margin: 0 auto 1rem;
  }
}

header .headerInner nav ul li a .iconTop .icon {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .headerInner nav ul li a .iconTop .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .headerInner nav ul li a .iconTop .icon img:nth-child(1) {
  z-index: 2;
}

header .headerInner nav ul li a .iconTop .icon._01 {
  width: 3.4rem;
  top: 0rem;
}

header .headerInner nav ul li a .iconTop .icon._02 {
  width: 6.3rem;
  top: 0rem;
}

header .headerInner nav ul li a .iconTop .icon._03 {
  width: 6.9rem;
  top: 0rem;
}

header .headerInner nav ul li a .iconTop .icon._04 {
  width: 6.9rem;
  top: 0rem;
}

header .headerInner nav ul li a .iconTop .icon img {
  width: 100%;
  height: auto;
}

header .headerInner nav ul li a .navT {
  color: #393f2e;
  font-size: 1.5rem;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .headerInner nav ul li a:hover .iconTop .icon img:nth-child(1) {
  opacity: 0;
}

header .headerInner nav ul li a:hover .navT {
  color: #ff85af;
}

header .headerInner .headerRightMenu {
  position: relative;
  top: 0rem;
  right: 0;
  height: 100%;
  z-index: 0;
  text-align: center;
}

header .headerInner .headerRightMenu a {
  position: relative;
  display: block;
  background: #4093BD;
  color: #fff;
  padding: 1.2rem 3.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 3px;
  -webkit-transition: -webkit-all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
  -webkit-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;
}

header .headerInner .headerRightMenu a:hover {
  opacity: 0.6;
}

/*=========================================================*/
/*	footer*/
/*=========================================================*/
footer {
  background: #4093BD;
  color: #fff;
  padding: 5rem 0;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 5rem 2rem;
  }
}

footer .footerMenu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  footer .footerMenu {
    display: block;
  }
}

footer .footerMenu > div {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

footer .footerMenu > div:nth-of-type(1) {
  height: 100%;
}

footer .footerMenu > div:nth-of-type(1) img {
  height: 3rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .copy {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  footer .copy {
    text-align: left;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 769px) {
  /*<start>==========================================================*/
  body {
    font-size: 80%;
  }
  .sp, br.s {
    display: none !important;
  }
  .text {
    font-size: 1.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.00rem;
  }
  .text02 {
    font-size: 1.6rem;
    line-height: 3.6rem;
    letter-spacing: 0.00rem;
  }
  .text14 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    letter-spacing: 0.00rem;
  }
  .text13 {
    font-size: 13px;
    line-height: 1.95;
    letter-spacing: 0.00rem;
  }
  /*=========================================================*/
  /*	○○○*/
  /*=========================================================*/
  /*	○○○○
---------------------------------------------------------------*/
  /*	○○○○○
-----------------------------------------------------------*/
  /*<end>============================================================*/
}

@media screen and (max-width: 1400px) {
  .text02 {
    font-size: 1.6rem;
    line-height: 3.2rem;
    letter-spacing: 0.00rem;
  }
}

@media screen and (max-width: 768px) {
  /*<start>==========================================================*/
  html {
    font-size: 75%;
  }
  body {
    font-size: 0.9rem;
  }
  html, body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }
  .pc, br.p {
    display: none !important;
  }
  .text,
  .text16 {
    font-size: 1.66rem;
    line-height: 3.5rem;
    letter-spacing: 0.04em;
  }
  .text02 {
    font-size: 1.66rem;
    line-height: 3.5rem;
    letter-spacing: 0.04em;
  }
  .text14 {
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.02em;
  }
  img {
    width: 100%;
    height: auto;
  }
  /*<end>============================================================*/
}

@media screen and (max-width: 768px) {
  html {
    font-size: 1.880644vw;
  }
}

@media screen and (min-width: 769px) {
  /*PC <start>==========================================================*/
  html {
    font-size: 0.7806442167vw;
  }
  body {
    font-size: .16rem;
  }
  .sp, br.s {
    display: none !important;
  }
  /*<end>============================================================*/
}

@media screen and (min-width: 1401px) {
  /*<start>==========================================================*/
  html {
    font-size: 63.5%;
  }
  /*<end>============================================================*/
}
/*# sourceMappingURL=style.css.map */